@import '../../styles/contants.scss';

.wrapper {
  background: white;
  overflow: hidden;

  .container {
    flex-direction: column;
    gap: 2rem;

    .heading {
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      > :nth-child(2) {
        text-decoration: underline;
        color: orange;
        cursor: pointer;
      }
    }

    .showCase {
      
      width: 100%;
      justify-content: space-around;
      // margin-bottom: -5rem;
      flex-wrap: wrap;

      .slider {
        width: 100%;
        flex-wrap: wrap;
        .slick-slide {
          width: 23rem;
          height: 300px; 
      // flex-wrap: wrap;


        }

        .imagesliderdiv {
          width: 23rem;
          height: 300px;
          // background-color: red;
          display: flex; /* Use flexbox to align items */
          justify-content: center; /* Centers the slider content horizontally */
          align-items: center; /* Centers the slider content vertically */
          overflow: hidden; /* Ensures any overflow is hidden */
        
          .sliderImage {
            width: 100%; /* Adjust width to account for margin */
            height: 100%;
            object-fit: cover; /* Ensures the image covers the area without distorting */
            border-radius: 20px;
            // box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.13); 
            filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.13));
            // margin-right: 1rem;
            padding:  0rem .5rem;
            cursor: pointer;
          }
        }
        
      }
    }
  }
}
