@import '../../styles/contants.scss';

.wrapper {
  background: white;
  padding: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .rightSide {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1.primaryText, h2.primaryText {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
      }

      .skillsSection {
        .skills {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          .skillBox {
            flex: 1;
            min-width: 100px;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

            .primaryText {
              font-size: 1rem;
              font-weight: bold;
              color: #333;
            }
          }
        }
      }

      .about {
        .stats {
          display: flex;
          gap: 2rem;

          .stat {
            display: flex;
            flex-direction: column;
            align-items: center;

            .primaryText {
              font-size: 1.5rem;
              color: #333;
            }

            .secondaryText {
              font-size: 1rem;
              color: #666;
            }
          }
        }
      }
    }
  }
}
