.wrapper {
  background: white;
  padding: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .rightSide {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center; /* Center the content */

      h1.primaryText, h2.primaryText {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
      }

      .skillsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .skillsHeading {
          text-align: center;
        }

        .skills {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: center; /* Center the skills */
        }

        .skill {
          padding: 0.5rem 1rem;
          // background-color: #f0f0f0;
          background-color: orange;
          color: white;
          border-radius: 5px;
          font-size: 1rem;
          // font-weight: bold;
        }
      }

      .about {
        .stats {
          display: flex;
          gap: 2rem;

          .stat {
            display: flex;
            flex-direction: column;
            align-items: center;

            .primaryText {
              font-size: 1.5rem;
              color: #333;
            }

            .secondaryText {
              font-size: 1rem;
              color: #666;
            }
          }
        }
      }
    }
  }
}
